# Firecrawl API Key
# Get your API key from: https://app.firecrawl.dev
FIRECRAWL_KEY=fc-140e7c9fa5a947e6b6a355fd38248769

# Supabase Connection Details
# Get your URL and Key from: https://app.supabase.com
SUPABASE_URL=https://jnzdnkbmiednujyvhjms.supabase.co
SUPABASE_KEY=sb_publishable_c9Kd1bsDBz6zmfvB60XwZQ_19Axy_nx
